.div-container {
    border-radius: 5px;
    padding: 40px 60px;
    background-color: rgb(18, 18, 18);
    margin: 20px;
}
h1{
    margin: 20px;
}
.sub-container
{
    width: 40%;
    padding: 20px 20px;
    background-color: rgb(241, 240, 240);
    border-radius: 5px;
    margin-right: 20px;
    display: flex;
    /* align-content: center; */
}

.data-list {
    margin: 20px;
    padding: 20px;
    border: 1px solid #bdb9b9;
    border-radius: 6px;
    width: 80%;
    background-color: #f9f9f9;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #0d0d0d;
}

button{
    background-color: #3dec6f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 5px 5px;
    cursor: pointer;
}
